In [1]:
import pandas as pd
import numpy as np
import scipy

In [2]:
df = pd.read_csv('training_set.csv', header=None, names=['filename', 'upper', 'lower', 'gender', 'bag', 'hat'])

In [3]:
len(df.index)

93082

In [4]:
df.replace(-1, pd.NA, inplace=True)

In [5]:
df

                 filename upper lower gender   bag  hat
0       VideoX_1_59_1.jpg     1     4      0     0  NaN
1       VideoX_1_64_1.jpg     1     4      0     0  NaN
2       VideoX_1_82_1.jpg     1     4      0     0  NaN
3      VideoX_1_834_2.jpg  <NA>  <NA>   <NA>  <NA>  NaN
4       VideoX_1_88_1.jpg     1     4      0     0  NaN
...                   ...   ...   ...    ...   ...  ...
93077  internet_913_2.jpg   NaN   NaN    NaN     0  NaN
93078   Video3_1262_1.jpg   NaN   NaN    NaN     0  NaN
93079  internet_962_1.jpg   NaN   NaN    NaN     0  NaN
93080  internet_967_1.jpg   NaN   NaN    NaN     0  NaN
93081  internet_950_3.jpg   NaN   NaN    NaN     0  NaN

[93082 rows x 6 columns]

In [6]:
print("values null", df.isnull().sum())

values null filename        0
upper       57235
lower       32323
gender       7670
bag         27398
hat         14811
dtype: int64

In [7]:
def count_value(count, color):
    for i, color in enumerate(color):
        count['upper_' + color] = (df.loc[(df['upper'] == i+1)]).shape[0]
        count['lower_' + color] = (df.loc[(df['lower'] == i+1)]).shape[0]

    return count

In [8]:
count = dict()
color = ["black", "blue", "brown", "gray", "green", "orange", "pink", "purple", "red", "white", "yellow"]
count = count_value(count, color)

In [9]:
count

{'upper_black': 15195,
 'lower_black': 36228,
 'upper_blue': 3225,
 'lower_blue': 16752,
 'upper_brown': 1124,
 'lower_brown': 694,
 'upper_gray': 4714,
 'lower_gray': 4427,
 'upper_green': 1381,
 'lower_green': 498,
 'upper_orange': 266,
 'lower_orange': 38,
 'upper_pink': 697,
 'lower_pink': 57,
 'upper_purple': 810,
 'lower_purple': 104,
 'upper_red': 2728,
 'lower_red': 466,
 'upper_white': 4828,
 'lower_white': 760,
 'upper_yellow': 879,
 'lower_yellow': 735}

In [10]:
df.replace(pd.NA, -1, inplace=True)

In [ ]:
df.loc[(df['upper'] == -1) & (df['lower'] == -1) & (df['gender'] == -1) & (df['bag'] == -1) & (df['hat'] == -1)]

In [11]:
all_values = df.loc[(df['upper'] != -1) & (df['lower'] != -1) & (df['gender'] != -1) & (df['bag'] != -1) & (df['hat'] != -1)]

In [12]:
all_values.shape

(26076, 6)

In [13]:
all_values

,filename,upper,lower,gender,bag,hat
12293,CAM14-2014-02-17-20140217102131-20140217102719...,4,2,0,0,0
12295,CAM14-2014-02-17-20140217102131-20140217102719...,1,2,0,0,0
12296,CAM14-2014-02-17-20140217102131-20140217102719...,1,1,1,0,0
12297,CAM14-2014-02-17-20140217101543-20140217102131...,10,1,1,0,0
12299,CAM14-2014-02-17-20140217101543-20140217102131...,1,1,0,1,0
...,...,...,...,...,...,...
64072,CAM13-2014-03-21-20140321152608-20140321153204...,5,2,0,1,0
64075,CAM13-2014-03-28-20140328151115-20140328151855...,1,2,0,0,0
64078,CAM13-2014-04-24-20140424122202-20140424122750...,7,2,0,1,0
64079,CAM14-2014-02-14-20140214144152-20140214145256...,9,4,0,0,0
64082,CAM16-2014-03-27-20140327102842-20140327103442...,1,2,0,1,0

In [14]:
df = all_values

In [15]:
df['upper'] = df['upper'].astype('category')
df['lower'] = df['lower'].astype('category')
df['gender'] = df['gender'].astype('category')

/tmp/ipykernel_23924/1270534262.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['upper'] = df['upper'].astype('category')
/tmp/ipykernel_23924/1270534262.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['lower'] = df['lower'].astype('category')
/tmp/ipykernel_23924/1270534262.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gender'] = df['gender'].astype('category')

In [16]:
one_hot_encoded_color = pd.get_dummies(df, columns=['upper', 'lower', 'gender']) #, dummy_na=True

In [17]:
one_hot_encoded_color

,filename,bag,hat,upper_1,upper_2,upper_3,upper_4,upper_5,upper_6,upper_7,...,lower_4,lower_5,lower_6,lower_7,lower_8,lower_9,lower_10,lower_11,gender_0,gender_1
12293,CAM14-2014-02-17-20140217102131-20140217102719...,0,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
12295,CAM14-2014-02-17-20140217102131-20140217102719...,0,0,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
12296,CAM14-2014-02-17-20140217102131-20140217102719...,0,0,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
12297,CAM14-2014-02-17-20140217101543-20140217102131...,0,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
12299,CAM14-2014-02-17-20140217101543-20140217102131...,1,0,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64072,CAM13-2014-03-21-20140321152608-20140321153204...,1,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
64075,CAM13-2014-03-28-20140328151115-20140328151855...,0,0,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
64078,CAM13-2014-04-24-20140424122202-20140424122750...,1,0,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,True,False
64079,CAM14-2014-02-14-20140214144152-20140214145256...,0,0,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
64082,CAM16-2014-03-27-20140327102842-20140327103442...,1,0,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [ ]:
df_copy = one_hot_encoded_color.copy()

In [ ]:
df_copy.head()

In [ ]:
df_copy.info()

In [ ]:
df_nan_upp = df_copy.loc[df_copy['upper_-1'] == True]
df_nan_upp.index

In [ ]:
df_nan_low = df_copy.loc[df_copy['lower_-1'] == True]

In [ ]:
df_nan_gender = df_copy.loc[df_copy['gender_-1'] == True]

In [ ]:
df_copy.loc[df_nan_gender.index, 'gender_0':'gender_1'] = -1

In [ ]:
df_copy.loc[df_nan_upp.index, 'upper_1':'upper_11'] = -1
df_copy.loc[df_nan_low.index, 'lower_1':'lower_11'] = -1


df_copy

In [ ]:
columns = ["gender", "bag", "hat"]
for i in range(1, 12):
    columns.append("upper_" + str(i)) 

for i in range(1,12):
        columns.append("lower_" + str(i))   

len(columns)

In [ ]:

#df_copy.loc[df_nan.index, ['upper_1':'upper_11']] = df_copy.loc[df_copy['upper_nan'] == True]

In [ ]:
df_copy.replace(True, 1, inplace=True)
df_copy.replace(False, 0, inplace=True)
df_copy.replace(-1, 0, inplace=True)

In [ ]:
df_copy

In [ ]:
one_hot_encoded_color.replace(True, 1, inplace=True)
one_hot_encoded_color.replace(False, 0, inplace=True)
one_hot_encoded_color.replace(-1, 0, inplace=True)

In [ ]:
one_hot_encoded_color

In [ ]:
df_copy.drop(columns=['upper_-1', 'lower_-1', 'gender_-1'], inplace=True)

In [ ]:
df_copy

In [ ]:
import pandas as pd
import numpy as np
import scipy

In [ ]:
def nan_index(df):
        df_nan_upp = df.loc[df['upper_-1'] == True]
        
        df_nan_low = df.loc[df['lower_-1'] == True]
        df.loc[df_nan_upp.index, 'upper_1':'upper_11'] = -1
        df.loc[df_nan_low.index, 'lower_1':'lower_11'] = -1
        df.drop(columns=['upper_-1', 'lower_-1'], inplace=True)
        
        return df

def conversion(filename):
        df = pd.read_csv(filename, header=None, names=['filename', 'upper', 'lower', 'gender', 'bag', 'hat'])
        #print(len(df.index))
        #df.replace(-1, pd.NA, inplace=True)
        #print("valori nulli", df.isnull().sum())
        df['upper'] = df['upper'].astype('category')
        df['lower'] = df['lower'].astype('category')
        
        one_hot_encoded_color = pd.get_dummies(df, columns=['upper', 'lower'])
        print(one_hot_encoded_color.head())
        one_hot_encoded_color = nan_index(one_hot_encoded_color)
        print(one_hot_encoded_color.head())
        one_hot_encoded_color.replace(True, 1, inplace=True)
        one_hot_encoded_color.replace(False, 0, inplace=True)
        
        return one_hot_encoded_color

def create_file_mat(dataframe):
        color = ["black", "blue", "brown", "gray", "green", "orange", "pink", "purple", "red", "white", "yellow"]

        up_color = ["up" + c for c in color]
        lower_color = ["lo" + c for c in color]
        attributes = ["gender", "bag", "hat"] + up_color + lower_color

        attributes = pd.DataFrame(attributes)
        print("attributes",attributes)
        attributes = np.array(attributes[0]).reshape(25,1)
        
        train_label = np.array(dataframe[columns])
        images_name = np.array(dataframe['filename']).reshape(1,93082)
        images_name = images_name.transpose()
        
        return attributes, train_label, images_name

columns = ["gender", "bag", "hat"]
for i in range(1, 12):
        columns.append("upper_" + str(i))

for i in range(1,12):
        columns.append("lower_" + str(i))
        
df_train = conversion("training_set.csv")
#attributes_train, train_label, images_name_train = create_file_mat(df_train)

df_validation = conversion("validation_set.csv")

#attributes_val, val_label, images_name_val = create_file_mat(df_validation)

In [ ]:
data = {'attributes': attributes,
        'test_images_name': [],
        'test_label': [[0, 0, 0],[1, 1, 1], [2, 2, 2]],
        'train_images_name': images_name,
        'train_label': train_label,
        'val_images_name': [],
        'val_label': [[]]
        }

In [ ]:
color = ["black", "blue", "brown", "gray", "green", "orange", "pink", "purple", "red", "white", "yellow"]


up_color = ["up" + c for c in color]
lower_color = ["lo" + c for c in color]
attributes = ["gender", "bag", "hat"] + up_color + lower_color 
#attributes = [[element] for element in attributes]

attributes = pd.DataFrame(attributes)
print("attributes",attributes)
#print(color)
attributes = np.array(attributes[0]).reshape(25,1)

#print(attributes)

#print("4 columns", df_train[[1, 2, 3, 4, 5]])
columns_feature = columns
train_label = np.array(one_hot_encoded_color[columns])

#attributes = attributes.reshape(1,25)
print(attributes.shape)
print(attributes)
print(train_label.shape)

In [ ]:
images_name = np.array(one_hot_encoded_color['filename']).reshape(1,93082)
images_name = images_name.transpose()
#images_name = images_name
print(images_name.shape)
print(images_name)

data = {'attributes': attributes,
        'test_images_name': [],
        'test_label': [[0, 0, 0],[1, 1, 1], [2, 2, 2]],
        'train_images_name': images_name,
        'train_label': train_label,
        'val_images_name': [],
        'val_label': [[]]
        }

In [ ]:
data

In [ ]:
file_path = 'example.mat'

# Save the data to a .mat file
scipy.io.savemat(file_path, data)