In [2]:
import pandas as pd
import numpy as np
import scipy

In [3]:
df = pd.read_csv('validation_set.csv', header=None, names=['filename', 'upper', 'lower', 'gender', 'bag', 'hat'])

In [4]:
len(df.index)

12162

In [5]:
df.replace(-1, pd.NA, inplace=True)

In [6]:
df

,filename,upper,lower,gender,bag,hat
0,MIT_00684_male_fore.jpg,10,2,0,0,0
1,TownCentre_126_2415.jpg,1,2,0,1,1
2,TownCentre_70_1201.jpg,1,2,0,1,1
3,TownCentre_126_2469.jpg,1,2,0,1,1
4,TownCentre_115_2029.jpg,8,2,1,1,1
...,...,...,...,...,...,...
12157,CAM14-2014-02-17-20140217102131-20140217102719...,1,2,0,0,0
12158,CAM14-2014-02-17-20140217102131-20140217102719...,1,1,0,0,0
12159,CAM14-2014-02-17-20140217102131-20140217102719...,1,1,0,0,0
12160,CAM14-2014-02-17-20140217102131-20140217102719...,11,2,0,1,0
12161,CAM14-2014-02-17-20140217102131-20140217102719...,2,2,1,0,0

In [7]:
print("values null", df.isnull().sum())

values null filename    0
upper       0
lower       0
gender      0
bag         0
hat         0
dtype: int64

In [ ]:
df.replace(pd.NA, -1, inplace=True)

In [ ]:
df['upper'] = df['upper'].astype('category')
df['lower'] = df['lower'].astype('category')

In [ ]:
one_hot_encoded_color = pd.get_dummies(df, columns=['upper', 'lower']) #, dummy_na=True

In [ ]:
one_hot_encoded_color

In [ ]:
df_copy = one_hot_encoded_color.copy()

In [ ]:
df_copy.head()

In [ ]:
df_copy.info()

In [ ]:
df_nan_upp = df_copy.loc[df_copy['upper_-1'] == True]
df_nan_upp.index

In [ ]:
df_nan_low = df_copy.loc[df_copy['lower_-1'] == True]

In [ ]:
df_copy.loc[df_nan_upp.index, 'upper_1':'upper_11'] = -1
df_copy.loc[df_nan_low.index, 'lower_1':'lower_11'] = -1

df_copy

In [ ]:
columns = ["gender", "bag", "hat"]
for i in range(1, 12):
    columns.append("upper_" + str(i)) 

for i in range(1,12):
        columns.append("lower_" + str(i))   

len(columns)

In [ ]:

#df_copy.loc[df_nan.index, ['upper_1':'upper_11']] = df_copy.loc[df_copy['upper_nan'] == True]

In [ ]:
df_copy

In [ ]:
one_hot_encoded_color.replace(True, 1, inplace=True)
one_hot_encoded_color.replace(False, 0, inplace=True)

In [ ]:
one_hot_encoded_color

In [ ]:
import pandas as pd
import numpy as np
import scipy

In [ ]:
def nan_index(df):
        df_nan_upp = df.loc[df['upper_-1'] == True]
        
        df_nan_low = df.loc[df['lower_-1'] == True]
        df.loc[df_nan_upp.index, 'upper_1':'upper_11'] = -1
        df.loc[df_nan_low.index, 'lower_1':'lower_11'] = -1
        df.drop(columns=['upper_-1', 'lower_-1'], inplace=True)
        
        return df

def conversion(filename):
        df = pd.read_csv(filename, header=None, names=['filename', 'upper', 'lower', 'gender', 'bag', 'hat'])
        #print(len(df.index))
        #df.replace(-1, pd.NA, inplace=True)
        #print("valori nulli", df.isnull().sum())
        df['upper'] = df['upper'].astype('category')
        df['lower'] = df['lower'].astype('category')
        
        one_hot_encoded_color = pd.get_dummies(df, columns=['upper', 'lower'])
        print(one_hot_encoded_color.head())
        one_hot_encoded_color = nan_index(one_hot_encoded_color)
        print(one_hot_encoded_color.head())
        one_hot_encoded_color.replace(True, 1, inplace=True)
        one_hot_encoded_color.replace(False, 0, inplace=True)
        
        return one_hot_encoded_color

def create_file_mat(dataframe):
        color = ["black", "blue", "brown", "gray", "green", "orange", "pink", "purple", "red", "white", "yellow"]

        up_color = ["up" + c for c in color]
        lower_color = ["lo" + c for c in color]
        attributes = ["gender", "bag", "hat"] + up_color + lower_color

        attributes = pd.DataFrame(attributes)
        print("attributes",attributes)
        attributes = np.array(attributes[0]).reshape(25,1)
        
        train_label = np.array(dataframe[columns])
        images_name = np.array(dataframe['filename']).reshape(1,93082)
        images_name = images_name.transpose()
        
        return attributes, train_label, images_name

columns = ["gender", "bag", "hat"]
for i in range(1, 12):
        columns.append("upper_" + str(i))

for i in range(1,12):
        columns.append("lower_" + str(i))
        
df_train = conversion("training_set.csv")
#attributes_train, train_label, images_name_train = create_file_mat(df_train)

df_validation = conversion("validation_set.csv")

#attributes_val, val_label, images_name_val = create_file_mat(df_validation)

In [ ]:
data = {'attributes': attributes,
        'test_images_name': [],
        'test_label': [[0, 0, 0],[1, 1, 1], [2, 2, 2]],
        'train_images_name': images_name,
        'train_label': train_label,
        'val_images_name': [],
        'val_label': [[]]
        }

In [ ]:
color = ["black", "blue", "brown", "gray", "green", "orange", "pink", "purple", "red", "white", "yellow"]


up_color = ["up" + c for c in color]
lower_color = ["lo" + c for c in color]
attributes = ["gender", "bag", "hat"] + up_color + lower_color 
#attributes = [[element] for element in attributes]

attributes = pd.DataFrame(attributes)
print("attributes",attributes)
#print(color)
attributes = np.array(attributes[0]).reshape(25,1)

#print(attributes)

#print("4 columns", df_train[[1, 2, 3, 4, 5]])
columns_feature = columns
train_label = np.array(one_hot_encoded_color[columns])

#attributes = attributes.reshape(1,25)
print(attributes.shape)
print(attributes)
print(train_label.shape)

In [ ]:
images_name = np.array(one_hot_encoded_color['filename']).reshape(1,93082)
images_name = images_name.transpose()
#images_name = images_name
print(images_name.shape)
print(images_name)

data = {'attributes': attributes,
        'test_images_name': [],
        'test_label': [[0, 0, 0],[1, 1, 1], [2, 2, 2]],
        'train_images_name': images_name,
        'train_label': train_label,
        'val_images_name': [],
        'val_label': [[]]
        }

In [ ]:
data

In [ ]:
file_path = 'example.mat'

# Save the data to a .mat file
scipy.io.savemat(file_path, data)