In [1]:
import pandas as pd
import numpy as np
import scipy

In [2]:
df = pd.read_csv('training_set.csv', header=None, names=['filename', 'upper', 'lower', 'gender', 'bag', 'hat'])

In [3]:
len(df.index)

93082

In [4]:
df.replace(-1, pd.NA, inplace=True)

In [5]:
df

                 filename upper lower gender   bag  hat
0       VideoX_1_59_1.jpg     1     4      0     0  NaN
1       VideoX_1_64_1.jpg     1     4      0     0  NaN
2       VideoX_1_82_1.jpg     1     4      0     0  NaN
3      VideoX_1_834_2.jpg  <NA>  <NA>   <NA>  <NA>  NaN
4       VideoX_1_88_1.jpg     1     4      0     0  NaN
...                   ...   ...   ...    ...   ...  ...
93077  internet_913_2.jpg   NaN   NaN    NaN     0  NaN
93078   Video3_1262_1.jpg   NaN   NaN    NaN     0  NaN
93079  internet_962_1.jpg   NaN   NaN    NaN     0  NaN
93080  internet_967_1.jpg   NaN   NaN    NaN     0  NaN
93081  internet_950_3.jpg   NaN   NaN    NaN     0  NaN

[93082 rows x 6 columns]

In [6]:
print("values null", df.isnull().sum())

values null filename        0
upper       57235
lower       32323
gender       7670
bag         27398
hat         14811
dtype: int64

In [7]:
df.replace(pd.NA, -1, inplace=True)

In [8]:
df.loc[(df['upper'] == -1) & (df['lower'] == -1) & (df['gender'] == -1) & (df['bag'] == -1) & (df['hat'] == -1)]

             filename  upper  lower  gender  bag  hat
3  VideoX_1_834_2.jpg     -1     -1      -1   -1   -1

In [9]:
df

                 filename  upper  lower  gender  bag  hat
0       VideoX_1_59_1.jpg      1      4       0    0   -1
1       VideoX_1_64_1.jpg      1      4       0    0   -1
2       VideoX_1_82_1.jpg      1      4       0    0   -1
3      VideoX_1_834_2.jpg     -1     -1      -1   -1   -1
4       VideoX_1_88_1.jpg      1      4       0    0   -1
...                   ...    ...    ...     ...  ...  ...
93077  internet_913_2.jpg     -1     -1      -1    0   -1
93078   Video3_1262_1.jpg     -1     -1      -1    0   -1
93079  internet_962_1.jpg     -1     -1      -1    0   -1
93080  internet_967_1.jpg     -1     -1      -1    0   -1
93081  internet_950_3.jpg     -1     -1      -1    0   -1

[93082 rows x 6 columns]

In [10]:
df['upper'] = df['upper'].astype('category')
df['lower'] = df['lower'].astype('category')
df['gender'] = df['gender'].astype('category')

In [11]:
one_hot_encoded_color = pd.get_dummies(df, columns=['upper', 'lower', 'gender']) #, dummy_na=True

In [12]:
one_hot_encoded_color

,filename,bag,hat,upper_-1,upper_1,upper_2,upper_3,upper_4,upper_5,upper_6,...,lower_5,lower_6,lower_7,lower_8,lower_9,lower_10,lower_11,gender_-1,gender_0,gender_1
0,VideoX_1_59_1.jpg,0,-1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,VideoX_1_64_1.jpg,0,-1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,VideoX_1_82_1.jpg,0,-1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,VideoX_1_834_2.jpg,-1,-1,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4,VideoX_1_88_1.jpg,0,-1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93077,internet_913_2.jpg,0,-1,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
93078,Video3_1262_1.jpg,0,-1,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
93079,internet_962_1.jpg,0,-1,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
93080,internet_967_1.jpg,0,-1,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
93081,internet_950_3.jpg,0,-1,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [13]:
df_copy = one_hot_encoded_color.copy()

In [14]:
df_copy.head()

,filename,bag,hat,upper_-1,upper_1,upper_2,upper_3,upper_4,upper_5,upper_6,...,lower_5,lower_6,lower_7,lower_8,lower_9,lower_10,lower_11,gender_-1,gender_0,gender_1
0,VideoX_1_59_1.jpg,0,-1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,VideoX_1_64_1.jpg,0,-1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,VideoX_1_82_1.jpg,0,-1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,VideoX_1_834_2.jpg,-1,-1,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4,VideoX_1_88_1.jpg,0,-1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [15]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93082 entries, 0 to 93081
Data columns (total 30 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   filename   93082 non-null  object
 1   bag        93082 non-null  int64
 2   hat        93082 non-null  int64
 3   upper_-1   93082 non-null  bool
 4   upper_1    93082 non-null  bool
 5   upper_2    93082 non-null  bool
 6   upper_3    93082 non-null  bool
 7   upper_4    93082 non-null  bool
 8   upper_5    93082 non-null  bool
 9   upper_6    93082 non-null  bool
 10  upper_7    93082 non-null  bool
 11  upper_8    93082 non-null  bool
 12  upper_9    93082 non-null  bool
 13  upper_10   93082 non-null  bool
 14  upper_11   93082 non-null  bool
 15  lower_-1   93082 non-null  bool
 16  lower_1    93082 non-null  bool
 17  lower_2    93082 non-null  bool
 18  lower_3    93082 non-null  bool
 19  lower_4    93082 non-null  bool
 20  lower_5    93082 non-null  bool
 21  lower_6    93082 non-null  bool
 22  lower_7    93082 non-null  bool
 23  lower_8    93082 non-null  bool
 24  lower_9    93082 non-null  bool
 25  lower_10   93082 non-null  bool
 26  lower_11   93082 non-null  bool
 27  gender_-1  93082 non-null  bool
 28  gender_0   93082 non-null  bool
 29  gender_1   93082 non-null  bool
dtypes: bool(27), int64(2), object(1)
memory usage: 4.5+ MB

In [16]:
df_nan_upp = df_copy.loc[df_copy['upper_-1'] == True]
df_nan_upp.index

Index([    3,     8,     9,    10,    11,    12,    13,    14,    16,    17,
       ...
       93072, 93073, 93074, 93075, 93076, 93077, 93078, 93079, 93080, 93081],
      dtype='int64', length=57235)

In [17]:
df_nan_low = df_copy.loc[df_copy['lower_-1'] == True]

In [18]:
df_nan_gender = df_copy.loc[df_copy['gender_-1'] == True]

In [19]:
df_copy.loc[df_nan_gender.index, 'gender_0':'gender_1'] = -1

In [20]:
df_copy.loc[df_nan_upp.index, 'upper_1':'upper_11'] = -1
df_copy.loc[df_nan_low.index, 'lower_1':'lower_11'] = -1


df_copy

,filename,bag,hat,upper_-1,upper_1,upper_2,upper_3,upper_4,upper_5,upper_6,...,lower_5,lower_6,lower_7,lower_8,lower_9,lower_10,lower_11,gender_-1,gender_0,gender_1
0,VideoX_1_59_1.jpg,0,-1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,VideoX_1_64_1.jpg,0,-1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,VideoX_1_82_1.jpg,0,-1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,VideoX_1_834_2.jpg,-1,-1,True,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,True,-1,-1
4,VideoX_1_88_1.jpg,0,-1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93077,internet_913_2.jpg,0,-1,True,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,True,-1,-1
93078,Video3_1262_1.jpg,0,-1,True,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,True,-1,-1
93079,internet_962_1.jpg,0,-1,True,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,True,-1,-1
93080,internet_967_1.jpg,0,-1,True,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,True,-1,-1
93081,internet_950_3.jpg,0,-1,True,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,True,-1,-1

In [21]:
columns = ["gender", "bag", "hat"]
for i in range(1, 12):
    columns.append("upper_" + str(i)) 

for i in range(1,12):
        columns.append("lower_" + str(i))   

len(columns)

25

In [22]:

#df_copy.loc[df_nan.index, ['upper_1':'upper_11']] = df_copy.loc[df_copy['upper_nan'] == True]

In [23]:
df_copy.replace(True, 1, inplace=True)
df_copy.replace(False, 0, inplace=True)
df_copy.replace(-1, 0, inplace=True)

In [24]:
df_copy

,filename,bag,hat,upper_-1,upper_1,upper_2,upper_3,upper_4,upper_5,upper_6,...,lower_5,lower_6,lower_7,lower_8,lower_9,lower_10,lower_11,gender_-1,gender_0,gender_1
0,VideoX_1_59_1.jpg,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,VideoX_1_64_1.jpg,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,VideoX_1_82_1.jpg,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,VideoX_1_834_2.jpg,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,VideoX_1_88_1.jpg,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93077,internet_913_2.jpg,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
93078,Video3_1262_1.jpg,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
93079,internet_962_1.jpg,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
93080,internet_967_1.jpg,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
93081,internet_950_3.jpg,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [ ]:
one_hot_encoded_color.replace(True, 1, inplace=True)
one_hot_encoded_color.replace(False, 0, inplace=True)
one_hot_encoded_color.replace(-1, 0, inplace=True)

In [ ]:
one_hot_encoded_color

In [25]:
df_copy.drop(columns=['upper_-1', 'lower_-1', 'gender_-1'], inplace=True)

In [26]:
df_copy

,filename,bag,hat,upper_1,upper_2,upper_3,upper_4,upper_5,upper_6,upper_7,...,lower_4,lower_5,lower_6,lower_7,lower_8,lower_9,lower_10,lower_11,gender_0,gender_1
0,VideoX_1_59_1.jpg,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
1,VideoX_1_64_1.jpg,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,VideoX_1_82_1.jpg,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
3,VideoX_1_834_2.jpg,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,VideoX_1_88_1.jpg,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93077,internet_913_2.jpg,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
93078,Video3_1262_1.jpg,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
93079,internet_962_1.jpg,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
93080,internet_967_1.jpg,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
93081,internet_950_3.jpg,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
import pandas as pd
import numpy as np
import scipy

In [ ]:
def nan_index(df):
        df_nan_upp = df.loc[df['upper_-1'] == True]
        
        df_nan_low = df.loc[df['lower_-1'] == True]
        df.loc[df_nan_upp.index, 'upper_1':'upper_11'] = -1
        df.loc[df_nan_low.index, 'lower_1':'lower_11'] = -1
        df.drop(columns=['upper_-1', 'lower_-1'], inplace=True)
        
        return df

def conversion(filename):
        df = pd.read_csv(filename, header=None, names=['filename', 'upper', 'lower', 'gender', 'bag', 'hat'])
        #print(len(df.index))
        #df.replace(-1, pd.NA, inplace=True)
        #print("valori nulli", df.isnull().sum())
        df['upper'] = df['upper'].astype('category')
        df['lower'] = df['lower'].astype('category')
        
        one_hot_encoded_color = pd.get_dummies(df, columns=['upper', 'lower'])
        print(one_hot_encoded_color.head())
        one_hot_encoded_color = nan_index(one_hot_encoded_color)
        print(one_hot_encoded_color.head())
        one_hot_encoded_color.replace(True, 1, inplace=True)
        one_hot_encoded_color.replace(False, 0, inplace=True)
        
        return one_hot_encoded_color

def create_file_mat(dataframe):
        color = ["black", "blue", "brown", "gray", "green", "orange", "pink", "purple", "red", "white", "yellow"]

        up_color = ["up" + c for c in color]
        lower_color = ["lo" + c for c in color]
        attributes = ["gender", "bag", "hat"] + up_color + lower_color

        attributes = pd.DataFrame(attributes)
        print("attributes",attributes)
        attributes = np.array(attributes[0]).reshape(25,1)
        
        train_label = np.array(dataframe[columns])
        images_name = np.array(dataframe['filename']).reshape(1,93082)
        images_name = images_name.transpose()
        
        return attributes, train_label, images_name

columns = ["gender", "bag", "hat"]
for i in range(1, 12):
        columns.append("upper_" + str(i))

for i in range(1,12):
        columns.append("lower_" + str(i))
        
df_train = conversion("training_set.csv")
#attributes_train, train_label, images_name_train = create_file_mat(df_train)

df_validation = conversion("validation_set.csv")

#attributes_val, val_label, images_name_val = create_file_mat(df_validation)

In [ ]:
data = {'attributes': attributes,
        'test_images_name': [],
        'test_label': [[0, 0, 0],[1, 1, 1], [2, 2, 2]],
        'train_images_name': images_name,
        'train_label': train_label,
        'val_images_name': [],
        'val_label': [[]]
        }

In [ ]:
color = ["black", "blue", "brown", "gray", "green", "orange", "pink", "purple", "red", "white", "yellow"]


up_color = ["up" + c for c in color]
lower_color = ["lo" + c for c in color]
attributes = ["gender", "bag", "hat"] + up_color + lower_color 
#attributes = [[element] for element in attributes]

attributes = pd.DataFrame(attributes)
print("attributes",attributes)
#print(color)
attributes = np.array(attributes[0]).reshape(25,1)

#print(attributes)

#print("4 columns", df_train[[1, 2, 3, 4, 5]])
columns_feature = columns
train_label = np.array(one_hot_encoded_color[columns])

#attributes = attributes.reshape(1,25)
print(attributes.shape)
print(attributes)
print(train_label.shape)

In [ ]:
images_name = np.array(one_hot_encoded_color['filename']).reshape(1,93082)
images_name = images_name.transpose()
#images_name = images_name
print(images_name.shape)
print(images_name)

data = {'attributes': attributes,
        'test_images_name': [],
        'test_label': [[0, 0, 0],[1, 1, 1], [2, 2, 2]],
        'train_images_name': images_name,
        'train_label': train_label,
        'val_images_name': [],
        'val_label': [[]]
        }

In [ ]:
data

In [ ]:
file_path = 'example.mat'

# Save the data to a .mat file
scipy.io.savemat(file_path, data)